trunk/JavaEE/Portlets/WSSPortlet/resources/schemas/getFields.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="ListFields">


        <xs:complexType>


            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ListField"/>
            </xs:sequence>
        </xs:complexType>


    </xs:element>

    <xs:element name="ListField">
        <xs:complexType>
            <xs:attribute name="Type" type="xs:string"/>
            <xs:attribute name="DisplayName" type="xs:string"/>
            <xs:attribute name="Name" type="xs:string"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
