trunk/JavaEE/Portlets/WSSPortlet/resources/schemas/list-attachments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="GetAttachmentCollectionResult">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="Attachments"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Attachments">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="Attachment"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Attachment">

    </xs:element>


</xs:schema>
