trunk/JavaEE/Portlets/WSSPortlet/resources/schemas/site-collection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="WSSSiteList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="Web"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Web">
        <xs:complexType>
            <xs:attribute name="Title" use="required" type="xs:string"/>
            <xs:attribute name="Url" use="required" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>