trunk/JavaEE/Portlets/WSSPortlet/resources/schemas/wss-meeting-collections.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="WSSMeetingsCollection">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="WSSMeetings"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="WSSMeetings">
        <xs:complexType>
            <xs:attribute name="Url" use="required"/>
            <xs:attribute name="Title" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>