trunk/JavaEE/Portlets/WSSPortlet/resources/wsdl/Forms.wsdl

<!--
 ~ Licensed to the Apache Software Foundation (ASF) under one
 ~ or more contributor license agreements.  See the NOTICE file
 ~ distributed with this work for additional information
 ~ regarding copyright ownership.  The ASF licenses this file
 ~ to you under the Apache License, Version 2.0 (the
 ~ "License"); you may not use this file except in compliance
 ~ with the License.  You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 ~
 ~
 ~ Author Of This Software : Sandeep Soni [ Sandeep.Soni at gmail dot com ]
 ~ With Active Contributions from Murali Krishna Reddy
 
 ~ Do Let Me Know by Email if you used the software and found it useful.
 
 -->
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://schemas.microsoft.com/sharepoint/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             targetNamespace="http://schemas.microsoft.com/sharepoint/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/">
            <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
            <s:element name="GetForm">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="formUrl" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetFormResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetFormResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetFormCollection">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetFormCollectionResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetFormCollectionResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="GetFormSoapIn">
        <part name="parameters" element="s0:GetForm"/>
    </message>
    <message name="GetFormSoapOut">
        <part name="parameters" element="s0:GetFormResponse"/>
    </message>
    <message name="GetFormCollectionSoapIn">
        <part name="parameters" element="s0:GetFormCollection"/>
    </message>
    <message name="GetFormCollectionSoapOut">
        <part name="parameters" element="s0:GetFormCollectionResponse"/>
    </message>
    <portType name="FormsSoap">
        <operation name="GetForm">
            <input message="s0:GetFormSoapIn"/>
            <output message="s0:GetFormSoapOut"/>
        </operation>
        <operation name="GetFormCollection">
            <input message="s0:GetFormCollectionSoapIn"/>
            <output message="s0:GetFormCollectionSoapOut"/>
        </operation>
    </portType>
    <binding name="FormsSoap" type="s0:FormsSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="GetForm">
            <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetForm" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetFormCollection">
            <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetFormCollection"
                            style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Forms">
        <port name="FormsSoap" binding="s0:FormsSoap">
            <soap:address location="http://129.158.227.228/_vti_bin/Forms.asmx"/>
        </port>
    </service>
</definitions>
