trunk/JavaEE/Portlets/WSSPortlet/resources/wsdl/sites.wsdl

<!--
 ~ Licensed to the Apache Software Foundation (ASF) under one
 ~ or more contributor license agreements.  See the NOTICE file
 ~ distributed with this work for additional information
 ~ regarding copyright ownership.  The ASF licenses this file
 ~ to you under the Apache License, Version 2.0 (the
 ~ "License"); you may not use this file except in compliance
 ~ with the License.  You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 ~
 ~
 ~ Author Of This Software : Sandeep Soni [ Sandeep.Soni at gmail dot com ]
 ~ With Active Contributions from Murali Krishna Reddy
 
 ~ Do Let Me Know by Email if you used the software and found it useful.
 
 -->
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://schemas.microsoft.com/sharepoint/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             targetNamespace="http://schemas.microsoft.com/sharepoint/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/">
            <s:element name="GetSiteTemplates">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="LCID" type="s:unsignedInt"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetSiteTemplatesResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="GetSiteTemplatesResult" type="s:unsignedInt"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TemplateList" type="s0:ArrayOfTemplate"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfTemplate">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="Template" nillable="true" type="s0:Template"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Template">
                <s:attribute name="ID" type="s:int" use="required"/>
                <s:attribute name="Title" type="s:string"/>
                <s:attribute name="Name" type="s:string"/>
                <s:attribute name="IsUnique" type="s:boolean" use="required"/>
                <s:attribute name="IsHidden" type="s:boolean" use="required"/>
                <s:attribute name="Description" type="s:string"/>
                <s:attribute name="ImageUrl" type="s:string"/>
                <s:attribute name="IsCustom" type="s:boolean" use="required"/>
            </s:complexType>
        </s:schema>
    </types>
    <message name="GetSiteTemplatesSoapIn">
        <part name="parameters" element="s0:GetSiteTemplates"/>
    </message>
    <message name="GetSiteTemplatesSoapOut">
        <part name="parameters" element="s0:GetSiteTemplatesResponse"/>
    </message>
    <portType name="SitesSoap">
        <operation name="GetSiteTemplates">
            <input message="s0:GetSiteTemplatesSoapIn"/>
            <output message="s0:GetSiteTemplatesSoapOut"/>
        </operation>
    </portType>
    <binding name="SitesSoap" type="s0:SitesSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="GetSiteTemplates">
            <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetSiteTemplates"
                            style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Sites">
        <port name="SitesSoap" binding="s0:SitesSoap">
            <soap:address location="http://129.158.227.228/_vti_bin/Sites.asmx"/>
        </port>
    </service>
</definitions>