trunk/JavaEE/Portlets/WSSPortlet/resources/wsdl/Views.wsdl

<!--
 ~ Licensed to the Apache Software Foundation (ASF) under one
 ~ or more contributor license agreements.  See the NOTICE file
 ~ distributed with this work for additional information
 ~ regarding copyright ownership.  The ASF licenses this file
 ~ to you under the Apache License, Version 2.0 (the
 ~ "License"); you may not use this file except in compliance
 ~ with the License.  You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 ~
 ~
 ~ Author Of This Software : Sandeep Soni [ Sandeep.Soni at gmail dot com ]
 ~ With Active Contributions from Murali Krishna Reddy
 
 ~ Do Let Me Know by Email if you used the software and found it useful.
 
 -->
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://schemas.microsoft.com/sharepoint/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             targetNamespace="http://schemas.microsoft.com/sharepoint/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/">
            <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
            <s:element name="GetViewCollection">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetViewCollectionResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetViewCollectionResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateViewHtml">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="viewName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="viewProperties">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="toolbar">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="viewHeader">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="viewBody">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="viewFooter">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="viewEmpty">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="rowLimitExceeded">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="query">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="viewFields">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="aggregations">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="formats">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="rowLimit">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateViewHtmlResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UpdateViewHtmlResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateView">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="viewName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="viewProperties">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="query">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="viewFields">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="aggregations">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="formats">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="rowLimit">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateViewResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UpdateViewResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddView">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="viewName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="viewFields">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="query">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="rowLimit">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="makeViewDefault" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddViewResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AddViewResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DeleteView">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="viewName" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DeleteViewResponse">
                <s:complexType/>
            </s:element>
            <s:element name="GetViewHtml">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="viewName" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetViewHtmlResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetViewHtmlResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetView">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="viewName" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetViewResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetViewResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="GetViewCollectionSoapIn">
        <part name="parameters" element="s0:GetViewCollection"/>
    </message>
    <message name="GetViewCollectionSoapOut">
        <part name="parameters" element="s0:GetViewCollectionResponse"/>
    </message>
    <message name="UpdateViewHtmlSoapIn">
        <part name="parameters" element="s0:UpdateViewHtml"/>
    </message>
    <message name="UpdateViewHtmlSoapOut">
        <part name="parameters" element="s0:UpdateViewHtmlResponse"/>
    </message>
    <message name="UpdateViewSoapIn">
        <part name="parameters" element="s0:UpdateView"/>
    </message>
    <message name="UpdateViewSoapOut">
        <part name="parameters" element="s0:UpdateViewResponse"/>
    </message>
    <message name="AddViewSoapIn">
        <part name="parameters" element="s0:AddView"/>
    </message>
    <message name="AddViewSoapOut">
        <part name="parameters" element="s0:AddViewResponse"/>
    </message>
    <message name="DeleteViewSoapIn">
        <part name="parameters" element="s0:DeleteView"/>
    </message>
    <message name="DeleteViewSoapOut">
        <part name="parameters" element="s0:DeleteViewResponse"/>
    </message>
    <message name="GetViewHtmlSoapIn">
        <part name="parameters" element="s0:GetViewHtml"/>
    </message>
    <message name="GetViewHtmlSoapOut">
        <part name="parameters" element="s0:GetViewHtmlResponse"/>
    </message>
    <message name="GetViewSoapIn">
        <part name="parameters" element="s0:GetView"/>
    </message>
    <message name="GetViewSoapOut">
        <part name="parameters" element="s0:GetViewResponse"/>
    </message>
    <portType name="ViewsSoap">
        <operation name="GetViewCollection">
            <input message="s0:GetViewCollectionSoapIn"/>
            <output message="s0:GetViewCollectionSoapOut"/>
        </operation>
        <operation name="UpdateViewHtml">
            <input message="s0:UpdateViewHtmlSoapIn"/>
            <output message="s0:UpdateViewHtmlSoapOut"/>
        </operation>
        <operation name="UpdateView">
            <input message="s0:UpdateViewSoapIn"/>
            <output message="s0:UpdateViewSoapOut"/>
        </operation>
        <operation name="AddView">
            <input message="s0:AddViewSoapIn"/>
            <output message="s0:AddViewSoapOut"/>
        </operation>
        <operation name="DeleteView">
            <input message="s0:DeleteViewSoapIn"/>
            <output message="s0:DeleteViewSoapOut"/>
        </operation>
        <operation name="GetViewHtml">
            <input message="s0:GetViewHtmlSoapIn"/>
            <output message="s0:GetViewHtmlSoapOut"/>
        </operation>
        <operation name="GetView">
            <input message="s0:GetViewSoapIn"/>
            <output message="s0:GetViewSoapOut"/>
        </operation>
    </portType>
    <binding name="ViewsSoap" type="s0:ViewsSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="GetViewCollection">
            <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetViewCollection"
                            style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="UpdateViewHtml">
            <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/UpdateViewHtml" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="UpdateView">
            <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/UpdateView" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AddView">
            <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/AddView" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteView">
            <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteView" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetViewHtml">
            <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetViewHtml" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetView">
            <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetView" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Views">
        <port name="ViewsSoap" binding="s0:ViewsSoap">
            <soap:address location="http://129.158.227.81/_vti_bin/Views.asmx"/>
        </port>
    </service>
</definitions>